.carousel-inner{
    background-color: #FEEAE9;
}

.carousel-item{
    padding: 20px 40px;
}
.price-text{
    color: #ff136f;
}
.buy-now{
    color:#fff;
    background: linear-gradient(to bottom,  #ff589b 0%, #ff136f 100% );
    border: none;
    
 

}